# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=ad7a27a5-21d1-467a-ad37-270c8aef367d

    # Set to true to disable all reporting
    B:opt-out=false
}


